<h4>Hi, <%= current_user.username %></h4>

<p>You have <%= current_user.points %> points!</p>
<% if current_user.redeemed_points > 0 %>
  <p>You have redeemed <%= current_user.redeemed_points %> points.</p>
<% end %>

<h4>Rewards</h4>

<% @rewards.each do |reward| %>
  <div class="reward">
    <%= reward.name %>
  </div>
<% end %>

